[submodule "pagopa_backend"]
	path = pagopa_backend
	url = https://github.com/gsarago/pagopa_backend
[submodule "pagopa_frontend"]
	path = pagopa_frontend
	url = https://github.com/gsarago/pagopa_frontend
[submodule ".vscode"]
	path = .vscode
	url = https://github.com/fvecchio222/.vscode.git
[submodule "kms_app"]
	path = kms_app
	url = https://github.com/gsarago/kms_app
[submodule "kms_backend"]
	path = kms_backend
	url = https://github.com/gsarago/kms_backend
[submodule "CRM"]
	path = CRM
	url = https://github.com/gsarago/CRM.git
